<?xml version="1.0"?>
<!--
  ~ Copyright © 2023 Anton Abramchenko. All rights reserved.
  ~
  ~ Redistribution and use permitted under the BSD-3-Clause license.
  ~ For full details, see COPYING.txt.
  ~
  ~ @author    Anton Abramchenko <anton.abramchenko@labofgood.com>
  ~ @copyright 2023 Anton Abramchenko
  ~ @license   See COPYING.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Labofgood_ElasticsearchCluster::general"
                                      title="Labofgood Elasticsearch Cluster"
                                      translate="title"
                                      sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
